<div class="spotify-profile-wrapper">
 	{% if artist is not empty %}
    <div class="card">
      <div class="firstinfo">
        <div class="profile-pic" style="background-image: url({{ artist.images.2.url }})">
          <img src="{{ artist.images.2.url }}" />
        </div>
        <div class="profileinfo">
          <h1><strong>Artist name:</strong> {{ artist.name }}</h1>
          <h3><strong>Genres:</strong> {{ artist.genres|join(", ") }}</h3>
          <a class="btn btn-spotify" href="{{ artist.external_urls.spotify }}" target="_blank" rel="noopener noreferrer">View on Spotify</a>
          <p class="follower-count">Followers: <span>{{ artist.followers.total }}</span></p>
        </div>
      </div>
    </div>
	{% else %}
		<p class="spotify-error">Couldn't fetch Spotify data.</p>
	{% endif %}
</div>